<div data-role="page" data-theme="b">

	<div data-role="header" data-position="inline">
    <h1>インストール確認一覧機能</h1>
    <a href="<%= url_for(:action => :index) %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      System機能リストへ
    </a>
	</div>

  <div data-role="content">
    <p>インストールされているか確認したいアプリを選択してください。</p>
    
    <%
      case platform
      when "apple"
    %>
      <a href="<%= url_for(:action => :app_installed, :query => {:app_name => "skype"}) %>" data-role="button" >Skype</a>
      <a href="<%= url_for(:action => :app_installed, :query => {:app_name => "calendar"}) %>" data-role="button" >カレンダー</a>
    <% when "android" %>
      <a href="<%= url_for(:action => :app_installed, :query => {:app_name => "music"}) %>" data-role="button" >music</a>
    <% end %>
    
  </div>
</div>
